.center{
    text-align: center;
}

body{
  color: #db8f4e;
  background: url("./tom-barrett-hgGplX3PFBg-unsplash.jpg");
  background-size: 100% 100%;
}


/* Start Language Switcher Section */
section {
  text-align: end;
}
.switch {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 25px;
  margin-right: 0px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "English";
  line-height: 1.5;
  text-align: center;
  height: 25px;
  width: 55px;
  left: 4px;
  top: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  content: "العربية";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 5px;
}


/* End Language Switcher Section */

table, th, td {
  border: 2px double #db8f4e;
  border-collapse: collapse;
  padding: 5px;
  margin: 50px auto;
  background: #011f2c;
}
#content{
  display: none;
}
.clock{
  text-align: center;
  font-size: 30px;
}
.clock > P{
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid orange;
  position: relative;
  background: black;
}
.clock > p::before{
  content: "";
  position: absolute;
  top: 30px;
  left: -300px;
  width: 300px;
  height: 1px;
  background: orange;
}
.clock > p::after{
  content: "";
  position: absolute;
  top: 30px;
  right: -300px;
  width: 300px;
  height: 1px;
  background: orange;
}
.times{
  font-size: 20px;
  font-weight: bold;
  direction: rtl;
}


#loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loading span {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border-top: 5px solid transparent;
    border-right: 4px double blue;
    border-left: 4px double blue;
    border-bottom: 5px solid transparent;
    animation: libot 1s linear infinite;
  }
  
  @keyframes libot{
    form {
      transform: rotate(0deg);
    } 50% {
      transform: rotate(50deg);
    }
    to {
      transform: rotate(360deg);
    }
  }